.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 50px;
  gap: 50px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(154, 154, 154);
  padding: 15px;
}

.name-div h1 {
  font-family: "Inter", sans-serif;
  font-size: 25px;
}

.details {
  width: 350px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: gray;
}

.compname {
  font-family: "Inter", sans-serif;
  font-size: 25px;
}

.duration {
  font-family: "Inter", sans-serif;
  font-size: 23px;
}

.designation {
  font-family: "Inter", sans-serif;
  font-size: 23px;
}

.status {
  font-family: "Inter", sans-serif;
  font-size: 23px;
}

.job-container {
  border: 1px solid rgb(219, 218, 218);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 700px;
  border-radius: 10px;
  padding-left: 15px;
  box-shadow: 0 6px 16px rgba(105, 105, 105, 0.3);
  transition: transform 0.3s ease;
  transform-origin: center; /* Default, scales from center */
}

.job-container:active {
  transform: scale(0.6);
}

.job-container-details {
  display: flex;
  flex-direction: column;
  justify-content: left;

  width: 600px;
}

.heading {
  display: flex;
  align-items: center;
}

.kont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.img-comp-logo-div {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .job-container {
    width: 400px;
    padding: 10px;
  }

  .kont {
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: flex-start;
    justify-content: left;
  }

  .job-container-details {
    width: 100%;
  }
}
